In [1]:
# 경고무시
import warnings
warnings.filterwarnings(action='ignore', category=DeprecationWarning)

In [2]:
# load library
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib as mpl
mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['font.size'] = 10

In [3]:
# load data
# 2021-01-01_2021-06-30
online_data = pd.read_csv("C:/nh/자녀나이_품종추가.csv")
online_data.head()

,상품카테고리(소),상품카테고리(세),상품명,품종,중량,상품ID,자녀나이,결제금액,결제수,결제상품수량,환불금액,환불건수,환불수량,실결제금액,실결제수량
0,쌀,백미,김포금쌀 고시히카리,고시히카리,10kg,5201386377,자녀없음,"8,202,000",170,195,"420,200",7,10,7781800,185
1,쌀,백미,김포금쌀 고시히카리,고시히카리,10kg,5201386377,미취학,"5,695,200",125,136,"333,300",8,8,5361900,128
2,쌀,백미,NH신동진쌀,신동진,20kg,4939329513,자녀없음,"5,246,200",77,83,"314,000",5,5,4932200,78
3,쌀,백미,김포금쌀 고시히카리,고시히카리,10kg,5201386377,초등학생,"5,123,200",112,122,"211,800",5,5,4911400,117
4,쌀,백미,NH신동진쌀,신동진,20kg,4939329513,성인,"4,682,600",71,74,"63,400",1,1,4619200,73

In [4]:
# 결측치 확인
online_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443 entries, 0 to 442
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   상품카테고리(소)  443 non-null    object
 1   상품카테고리(세)  443 non-null    object
 2   상품명        443 non-null    object
 3   품종         443 non-null    object
 4   중량         443 non-null    object
 5   상품ID       443 non-null    int64
 6   자녀나이       443 non-null    object
 7   결제금액       443 non-null    object
 8   결제수        443 non-null    int64
 9   결제상품수량     443 non-null    int64
 10  환불금액       443 non-null    object
 11  환불건수       443 non-null    int64
 12  환불수량       443 non-null    int64
 13  실결제금액      443 non-null    int64
 14  실결제수량      443 non-null    int64
dtypes: int64(7), object(8)
memory usage: 52.0+ KB

In [5]:
# 연령에 따른 선호 곡물
grouped_name_s_r = online_data.groupby(['자녀나이','중량'])['실결제수량'].sum()
grouped_name_s_r.head(60)

자녀나이    중량
0-24개월   2kg      4
         4kg     44
         5kg      4
        10kg    291
        20kg    120
        2kg      10
        4kg       3
        8kg       1
미취학      2kg      8
         4kg     30
         5kg      4
        10kg    446
        20kg    237
        2kg      14
        4kg       8
        8kg      15
성인       2kg     16
         4kg     53
         5kg      5
        10kg    519
        20kg    395
        2kg      15
        4kg       7
        8kg      36
자녀없음     2kg     89
         4kg    155
         5kg      9
        10kg    745
        20kg    463
        2kg      17
        4kg     148
        8kg      11
중고등학생    2kg      8
         4kg     36
         5kg      1
        10kg    372
        20kg    277
        2kg      29
        4kg      10
        8kg       2
초등학생     2kg     11
         4kg     47
        10kg    450
        20kg    366
        2kg      61
        4kg      10
        8kg       4
Name: 실결제수량, dtype: int64

In [6]:
# 연령에 따른 선호 곡물
grouped_name_s_r = online_data.groupby(['자녀나이','품종'])['실결제수량'].sum()
grouped_name_s_r.head(60)

자녀나이    품종
0-24개월  고시히카리     98
        삼광        31
        새청무        2
        신동진       84
        십리향        4
        영호진미      49
        오대         2
        일미         3
        일품        32
        진상         2
        추청       135
        하이아미      15
        혼합         7
        혼합곡       13
미취학     고시히카리    177
        삼광        60
        새청무        1
        신동진      142
        십리향        9
        영호진미      53
        오대         1
        일미         7
        일품        52
        진상         8
        추청       201
        하이아미      12
        혼합        17
        혼합곡       22
성인      고시히카리    151
        삼광        57
        새청무       16
        신동진      176
        십리향       28
        영호진미      49
        오대         8
        일미        10
        일품        71
        진상        13
        추청       385
        하이아미       2
        혼합        58
        혼합곡       22
자녀없음    고시히카리    259
        삼광       105
        새청무       25
        신동진      270
        십리향       71
        영호진미     140
        오대        11
        일미        14
        일품        90
        진상        18
        추청       526
        하이아미       3
        혼합        78
        혼합곡       27
중고등학생   고시히카리     88
        삼광        44
        새청무       10
        신동진      149
Name: 실결제수량, dtype: int64

In [7]:
# load data
# 2021-01-01_2021-06-30
online_data = pd.read_csv("C:/nh/초중고.csv")
online_data.head()

,상품카테고리(소),상품카테고리(세),상품명,품종,중량,상품ID,자녀나이,결제금액,결제수,결제상품수량,환불금액,환불건수,환불수량,실결제금액,실결제수량
0,쌀,백미,김포금쌀 고시히카리,고시히카리,10kg,5201386377,초등학생,"5,123,200",112,122,"211,800",5,5,4911400,117
1,쌀,백미,NH신동진쌀,신동진,20kg,4939329513,초등학생,"4,234,800",62,67,"126,800",2,2,4108000,65
2,쌀,백미,한수위 파주쌀,추청,20kg,4945902314,초등학생,"3,142,200",35,46,"137,600",2,2,3004600,44
3,쌀,백미,탑마루쌀,신동진,20kg,4939329513,중고등학생,"3,075,000",41,47,"65,500",1,1,3009500,46
4,쌀,백미,NH신동진쌀,신동진,20kg,4939329513,중고등학생,"3,036,200",46,48,"126,800",2,2,2909400,46

In [8]:
# 연령에 따른 선호 곡물
grouped_name_s_r = online_data.groupby(['자녀나이','품종'])['실결제수량'].sum()
grouped_name_s_r.head(60)

자녀나이   품종
중고등학생  고시히카리     88
       삼광        44
       새청무       10
       신동진      149
       십리향       14
       영호진미      27
       오대         3
       일미         5
       일품        48
       진상         3
       추청       240
       하이아미       5
       혼합        60
       혼합곡       39
초등학생   고시히카리    146
       삼광        61
       새청무        7
       신동진      156
       십리향        7
       영호진미      50
       오대        12
       일미        11
       일품        82
       진상        12
       참드림        2
       추청       296
       하이아미       7
       혼합        29
       혼합곡       71
Name: 실결제수량, dtype: int64

In [9]:
# load data
# 2021-01-01_2021-06-30
online_data = pd.read_csv("C:/nh/직업_품종.csv")
online_data.head()

,상품카테고리(세),상품명,품종,상품ID,직업,결제금액,결제수,결제상품수량,환불금액,환불건수,환불수량,실결제금액,실결제수량,중량
0,백미,김포금쌀 고시히카리,고시히카리,5.201386e+09,직장인,"16,046,400",343.0,382.0,"757,200",15.0,18.0,"15,289,200",364.0,10kg
1,백미,NH신동진쌀,신동진,4.939330e+09,직장인,"11,446,400",174.0,181.0,"379,400",6.0,6.0,"11,067,000",175.0,20kg
2,백미,한수위 파주쌀,추청,4.945902e+09,직장인,"7,241,600",82.0,106.0,"339,600",4.0,5.0,"6,902,000",101.0,20kg
3,백미,한수위 파주쌀,추청,4.945882e+09,직장인,"6,628,500",152.0,183.0,"107,500",3.0,3.0,"6,521,000",180.0,10kg
4,백미,김포금쌀,추청,5.201397e+09,직장인,"6,210,600",61.0,89.0,"1,397,000",5.0,20.0,"4,813,600",69.0,20kg

In [10]:
# 연령에 따른 선호 곡물
grouped_name_s_r = online_data.groupby(['직업','품종'])['실결제수량'].sum()
grouped_name_s_r.head(60)

직업        품종
기타        고시히카리     40.0
          삼광        12.0
          새청무        1.0
          신동진       56.0
          십리향        4.0
          영호진미      32.0
          오대         3.0
          일미         2.0
          일품        20.0
          진상         3.0
          추청        86.0
          하이아미       2.0
          혼합         5.0
          혼합곡        6.0
주부        고시히카리    176.0
          삼광        80.0
          새청무        7.0
          신동진      197.0
          십리향       15.0
          영호진미      62.0
          오대         4.0
          일미         6.0
          일품        79.0
          진상        12.0
          참드림        2.0
          추청       319.0
          하이아미      13.0
          혼합        32.0
          혼합곡       39.0
직장인       고시히카리    534.0
          삼광       208.0
          새청무       28.0
          신동진      502.0
          십리향       88.0
          영호진미     217.0
          오대        26.0
          일미        30.0
          일품       189.0
          진상        33.0
          추청       970.0
          하이아미      18.0
          혼합       166.0
          혼합곡      106.0
학생 및 취준생  고시히카리     13.0
          삼광        22.0
          새청무       16.0
          신동진       31.0
          십리향       13.0
          영호진미      10.0
          일미         1.0
          일품        19.0
          진상         1.0
          추청        73.0
          혼합        20.0
          혼합곡        5.0
Name: 실결제수량, dtype: float64

In [11]:
# 연령에 따른 선호 곡물
grouped_name_s_r = online_data.groupby(['직업','중량'])['실결제수량'].sum()
grouped_name_s_r.head(60)

직업        중량
기타        10kg     149.0
          20kg      82.0
          2kg        9.0
          4kg       28.0
          5kg        3.0
          8kg        1.0
주부        10kg     561.0
          20kg     352.0
          2kg       38.0
          4kg       67.0
          5kg        4.0
          8kg       21.0
직장인       10kg    1555.0
          20kg     986.0
          2kg      165.0
          4kg      398.0
          5kg       11.0
학생 및 취준생  10kg      68.0
          20kg      83.0
          2kg       23.0
          4kg       48.0
          5kg        1.0
          8kg        1.0
Name: 실결제수량, dtype: float64

In [15]:
# load data
# 2021-01-01_2021-06-30
online_data = pd.read_csv("C:/nh/품종_단위당금액.csv")
online_data.head()

        상품명   품종    중량  단위당금액  무게   1kg금액
0    NH신동진쌀  신동진  10kg  34150  10  3415.0
1    NH신동진쌀  신동진  20kg  31650  20  1582.5
2   가마솥 구수미   혼합  10kg  34250  10  3425.0
3   가마솥 구수미   혼합  20kg  31500  20  1575.0
4  가야산 물맑은쌀   혼합  10kg  30500  10  3050.0

In [18]:
# 연령에 따른 선호 곡물
grouped_name_s_r = online_data.groupby(['품종'])['1kg금액'].mean()
grouped_name_s_r.head(60)

품종
고시히카리    4296.200000
삼광       3537.900000
새청무      3010.000000
신동진      3236.357143
십리향      5030.000000
영호진미     4109.250000
오대       4675.000000
일미       3585.000000
일품       3313.500000
진상       5012.500000
참드림      3650.000000
추청       3971.406250
하이아미     4200.000000
혼합       3407.636364
Name: 1kg금액, dtype: float64